body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'dosis', sans-serif;
    background: url(../img/Fundo-azul.png);
}

.cabecalho {
    text-align: center;
    padding: 10px;
    font-size: 20px;
    text-transform: uppercase;
}
img{
    width: 100%;
    display: flex;
    position: relative;
    border-radius: 20px;
}
.conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 50px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
}
.titulo {
    text-align: center;
    color: #333333;
    padding-top: 10px;
}
.texto {
    padding: 0px;
    text-align: left;
    font-family: 'dosis', sans-serif;
    font-weight: 500;
    font-size: large;
}

footer {
    margin-bottom: 0px;
    color: #fff;
    padding-top: 10px;
    text-align: center;
}

@media(max-width: 620px){
    .cabecalho {
        padding:10px;
    }
    .conteudo {
        margin: 0px;
        padding: 15px;
    }
    footer {
        text-align: center;
    }
}
