@media(max-width: 620px){
    .cabecalho {
        padding:20px 0;
    }
    .conteudo {
        padding: 0 15px;
        gap: 10px;
    }
    .lista-nao-ordenada {
        height: 340px;
    }
    .atribuicao {
        padding-top: 152px;
        text-align: center;
    }
}